.link {
	stroke: #c1c1c1;
	stroke-width: 2px;
	pointer-events: all;
}

.node circle {
	pointer-events: all;
	stroke: #777;
	stroke-width: 1px;
}

#co_words_button {
	font-size: 2.3vh;
	text-align: center;
	cursor: pointer;
}
#co_words_button:hover {
	opacity: .75;
}